@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Je bestaande kleuren */
  --benext-darkgreen: #195c2f;
  --benext-green: #3C9953;
  --benext-lightgreen: #B0D7A6;
  --benext-darkorange: #f9943c;
  --benext-orange: #ffb86a;
  --benext-lightorange: #fdd8b8;

  --benext-radius: 0.65rem; 
  --font-main: 'Mulish', sans-serif;
}

body {
  font-family: var(--font-main);
  background-color: #f5f7fa;
  margin: 0;
}